body{margin: 0px;;
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
background-size: 100%;}
button{color: rgb(1, 1, 22);background-color: rgb(185, 223, 223);width: 100px;height: 20px;}
